<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Интернет-магазин</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
<div id="app">
    <header>
        <div class="logo">E-shop</div>
        <div class="cart">
            <searchline></searchline>
            <button class="btn-cart" type="button" @click="cartVisible">Корзина</button>
            <!-- <div class="cart-block" v-bind:class="{ hidden: !show }">
                <h3 v-bind:class="{ hidden: !emptyCart }">Корзина пуста</h3> -->
                <cart :cart-items="cart"
                    :img="imgCatalog"
                    :visibility="show"
                    :empty-cart="emptyCart"></cart>
                <!-- <div v-for="product of cart" class="cartProduct">
                    <img :src="imgCatalog" alt="Some img" class="cartProductImg">
                    <div class="cartProductInfo">
                        <h3>{{product.product_name}}</h3>
                        <p>{{product.price}} $</p>
                        <p>Кол-во: {{product.quantity}}</p>
                    </div>
                    <button class="buy-btn" @click="removeProduct(product), cartEmpty()">X</button>
                </div>
            </div> -->
        </div>
    </header>
    <main>
        <div v-show="error" class="error">Данные с сервера не были загружены!</div>
        <products :products="filtered" :img="imgCatalog" @add-product="addProduct" @cart-empty="cartEmpty"></products>
        <!-- <div class="products">
            <div class="product-item" v-for="product of filtered" :key="product.id_product">
                <img :src="imgCatalog" alt="Some img">
                <div class="desc">
                    <h3>{{product.product_name}}</h3>
                    <p>{{product.price}} $</p>
                    <button class="buy-btn" @click="addProduct(product), cartEmpty()">Купить</button>
                </div>
            </div>
        </div> -->
    </main>
</div>
    <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js" integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/cartComponent.js"></script>
    <script src="js/searchComponent.js"></script>
    <script src="js/productComponent.js"></script>
    <script src="js/main.js"></script>
    
</body>
</html>

<!-- <div class="cart-item" data-id="${this.id_product}">
    <div class="product-bio">
        <img src="${this.img}" alt="Some image">
        <div class="product-desc">
            <p class="product-title">${this.product_name}</p>
            <p class="product-quantity">Quantity: ${this.quantity}</p>
            <p class="product-single-price">$${this.price} each</p>
            <p><p/>
        </div> 
    </div>
    <div class="right-block">
        <p class="product-price">${this.quantity*this.price}</p>
        <button class="del-btn" data-id="${this.id_product}">&times;</button>
    </div>
</div>-->